<section class="contact-navigation-section">
    <header class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">

      <a class="navbar-brand h5 my-0 me-md-auto fw-normal" href="/">
        <img src="images/Blueprint Logos Initial Flip.png" alt="BP Logo" width="60">
      </a>
      <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2" href="/about">About Me</a>
        <a class="p-2" href="/portfolio">Portfolio</a>
        <a class="p-2" href="/services">Services</a>
        <a class="p-2" href="/contact">Contact Me</a>
      </nav>
    </header>
  </section>
