<!-- Footer -->

<footer class="footer mt-auto py-3">
  <div class="container">
    <a class="footer-link" href="https://www.facebook.com/bivens.jeremy"><i class="fab fa-facebook-f fa-lg"></i></a>
    <a class="footer-link" href="https://www.instagram.com/bivensjeremy/"><i class="fab fa-instagram fa-lg"></i></a>
    <a class="footer-link" href="https://twitter.com/"><i class="fab fa-twitter fa-lg"></i></a>
    <a class="footer-link" href="https://www.linkedin.com/in/bivensjeremy"><i class="fab fa-linkedin fa-lg"></i></a>
    <a class="footer-link" href="mailto:admin@bivensblueprint.com?subject=Contact"><i class="fas fa-envelope fa-lg"></i></a>
    <p><i class="far fa-registered"></i> 2021 Bivens Blueprint, LLC</p>
  </div>

</footer>

</html>
