<%- include('partials/header') %>

<%- include('partials/navbar') %>

<!-- About Me -->
<section id="head-info">
  <div class="about-me-section container-fluid row">
    <div class="about-me-text col-lg-6">
      <h1>About Me</h1>
      <p>I'm Jeremy. A freelance web developer and owner of Bivens Blueprint. My story is relatively simple: I started out in HR and have finally decided to pursue my dream of 1) doing what I enjoy & 2) doing it on my own terms. </p>
      <p>My education is in Public Administration and my experience is in Human Resources. I've spent a lot of time in HR. Not because it is my passion, because it is where I have experience and I have bills! In no way do I dislike HR, it just isn't anywhere I want to retire. I've always enjoyed the dynamics of computers, building and creating things to serve people. But I've never taken the steps to pursue an occupation in it. I guess I felt like I was too far into HR to start over. Through something of a mid-life crisis, I found the means and drive to step out into the world of web development. While I am most certainly very fresh in the field, I am creative enough to find my way around and produce a stellar project.</p>
      <p>I can go on forever, but the purpose of this section is to get to know me a tad. I will break out more detail into a blog section. </p>
    </div>

    <div class="about-me-image col-lg-6">
      <div class="card">
        <div class="triangle-down animated fadeInUp"></div>
        <div class="card-img-overlay">
          <img class="me" src="images/IMG_1181.png" alt="me">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Skills -->
<section id="skills-section">
  <div class="my-skills container-fluid row">
    <div class="skills col-lg-12">
      <h1>Skills</h1>
      <div class="container">
        <div class="skills row">
          <div class="col">
            <i class="fas fa-code fa-5x"></i>
            <h3>Design</h3>
            <p>HTML, CSS, JavaScript,<br /> jQuery, Bootstrap</p>
          </div>
          <div class="col">
            <i class="fab fa-node fa-5x"></i>
            <h3>Node.js</h3>
            <p>Express, EJS</p>
          </div>
          <div class="col">
            <i class="fas fa-gem fa-5x"></i>
            <h3>Ruby</h3>
          </div>
        </div>
        <div class="skills row">
          <div class="col">
            <i class="fas fa-database fa-5x"></i>
            <h3>Database</h3>
            <p>SQL, Mongoose, MongoDB</p>
          </div>
          <div class="col">
            <i class="fas fa-server fa-5x"></i>
            <h3>Server Management</h3>
            <p>Stuff to keep you online</p>
          </div>
          <div class="col">
            <i class="fab fa-github fa-5x"></i>
            <h3>GitHub</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Experience -->
<section class="experience pt-100 pb-100" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <div class="section-title">
          <h1>Experience</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <ul class="timeline-list">
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <span>2021</span>
              <h4>Bivens Blueprint</h4>
              <p>Owner & operator of a web development company designed to provide top-level service and support to growing businesses through website design, coding, website hosting .</p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <span>2019-present</span>
              <h4>Talent Acquisition Partner</h4>
              <p>A recruiter for the Phoebe Putney Health System. I started out recruiting non-clinical support staff but have since transisitoned into direct nurse recruitment.</p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <span>2018-2019</span>
              <h4>Human Resources Manager</h4>
              <p>HR Management for the City of Albany. Supervised and serviced the Compensation, Benefits & Wellness division. Additional experience in Recruitment & Selection and generalist duties.</p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <span>2013-2018</span>
              <h4>Human Resources Specialist</h4>
              <p>HR Specialist for the Dougherty County Board of Commissioners. During my first stint with DC, I managed employee benefits and Open Enrollment. My second stint, I specialized in Retirement, supplemental benefits & Leave
                administration.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
