<%- include('partials/header') %>

 <%- include('partials/navbar') %>

<!-- Head Banner -->

 <div class="title-banner">
   <img class="logobanner animated fadeInUp" src="images/Blueprint Logos Banner.png" alt="Blueprint">
 </div>

 <!-- About Me Section -->

 <section id="about-section">
   <div class="about-me container-fluid row">
     <div class="index-about col-lg-6">
       <h1>Bivens</h1>
       <p>
         The art of web development and computer programming is a personal interest of mine.  Because it is not simply an occupation, I have a heightened level of dedication not found among other organizations. Like many independent web developers, because it is personal, I am committed to providing quality service that speaks to my skill, talent and vision.</p>
     </div>

     <div class="index-about-blueprint col-lg-6">
       <h1>Blueprint</h1>
       <p>If Bivens is the man, Blueprint is the machine. Built from the ground up, Blueprint is a vessel to assist businesses, entreprenuers, and organizations achieve their goals through quality design, support and security. I posses all the resources needed to build a website to suit your needs and get your message accross in the most effective manner.</p>
     </div>
   </div>
 </section>

 <section id="what-i-offer">
   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-6 py-2">
         <div class="offer-card h-100 bg-light">
           <div class="card-body">
             <h3 class="card-title">Full Stack Web Development</h3>
             <p class="card-text">Full stack web development consists of everything from website design, database management, domain registration, hosting and everything in between. </p>
           </div>
         </div>
       </div>

       <div class="col-sm-6 py-2">
         <div class="offer-card h-100 bg-light">
           <div class="card-body">
             <h3 class="card-title">Ongoing Support</h3>
             <p class="card-text"> Just because your website is online does not mean the job is done. Blueprint is designed to provide a partnership as your business grows. I'm here for you every step of the way.</p>
           </div>
         </div>
       </div>

       <div class="col-sm-6 py-2">
         <div class="offer-card h-100 bg-light">
           <div class="card-body">
             <h3 class="card-title">Secure Website Hosting</h3>
             <p class="card-text">How will you get your website online? I can ensure your message is shared to millions. This includes geting your website online and updating information as needed. Not to mention SSL security certificates!</p>
           </div>
         </div>
       </div>

       <div class="col-sm-6 py-2">
         <div class="offer-card h-100 bg-light">
           <div class="card-body">
             <h3 class="card-title">e-Commerce</h3>
             <p class="card-text">Running an online store? You'll need database management to handle transactions, inventory and customer information. I can make sure your customers' data is well-managed, safe, and secure.</p>
           </div>
         </div>
       </div>
 </section>

 <section id="set-apart">

   <div class="container-fluid">
     <h1>What Sets Bivens Blueprint Apart?</h1>
     <div class="row apart-card">
       <div class="col-sm-4 py-2">
         <div class="card card-body h-100 shadow p-3 mb-5 bg-body rounded">
                     <div class="card-body">'
           <i class="fas fa-clock fa-2x"></i>
           <h3 class="card-title">Save Time & Make Money</h3>
           <p class="card-text"><i>Your</i> job is growing and managing your business.  <i>My</i> job is the web presence.  Don't waste valuable time with cookie-cutter third-party services. While you focus on your business, I will manage the website. Custom to your needs!</p>
         </div>
       </div>
       </div>
       <div class="col-sm-4 py-2">
         <div class="card card-body h-100 shadow p-3 mb-5 bg-body rounded">
           <div class="card-body">
             <i class="fas fa-signal fa-2x"></i>
             <h3 class="card-title">Designed for Growth</h3>
             <p class="card-text">In a digital age, having a web presence is more essential than ever. Not only will a website foster faster growth, you'll also have better access to customer and company data. A small business for small businesses! </p>
           </div>
         </div>
       </div>
       <div class="col-sm-4 py-2">
         <div class="card card-body h-100 shadow p-3 mb-5 bg-body rounded">
           <div class="card-body">
           <i class="fas fa-mobile-alt fa-2x"></i>
           <h3 class="card-title">Built for Your Customers</h3>
           <p class="card-text">Don't limit your website to only desktop.  If your customers want to access your website on the go, make sure they have a consistent expereince.  I build sites with mobile in mind to ensure scalability & ensure the message is not lost in resizing.</p>
         </div>
       </div>
       </div>
     </div>
   </div>
 </section>

 <section id="pricing-section">

   <main class="container">
     <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
       <h1 class="display-4">Transparent Pricing</h1>
       <p class="lead">I believe you should not be guessing what it will cost to build your web presence.  I've done away with ambiguous "Call for a consultation" taglines and listed transparent prices. This allows you to properly budget and plan expenses of your business.</p>
     </div>

     <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
       <div class="col">
         <div class="card mb-4 shadow-sm">
           <div class="card-header">
             <h4 class="my-0 fw-normal">e-Commerce <br />Website</h4>
           </div>
           <div class="card-body">
             <h2 class="card-title pricing-card-title">Starting at $500 <small class="text-muted"></small></h2>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Web Design</li>
               <li>Database Management</li>
               <li>Secure Transaction System</li>
               <li>Customer Reporting</li>
               <li>Product Updates</li>
               <li>And More!</li>
             </ul>
             <a href='/services#ecommerce' type="button" class="w-100 btn btn-lg btn-primary"">Get Started</a>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card mb-4 shadow-sm">
           <div class="card-header">
             <h4 class="my-0 fw-normal">Business & Personal<br /> Websites</h4>
           </div>
           <div class="card-body">
             <h2 class="card-title pricing-card-title">Starting at $300 <small class="text-muted"></small></h2>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Full Website Design</li>
               <li>Hosting & Ongoing Support</li>
               <li>Database and Email Support</li>
               <li>Engagement Reporting</li>
               <li>Consultations</li>
               <li>And More!</li>
             </ul>
             <a href='/services#personalandperfessional' type="button" class="w-100 btn btn-lg btn-primary"">Get Started</a>
           </div>
         </div>
       </div>
       <div class="col">
         <div class="card mb-4 shadow-sm">
           <div class="card-header">
             <h4 class="my-0 fw-normal">Single Projects<br />& Ad-hoc</h4>
           </div>
           <div class="card-body">
             <h2 class="card-title pricing-card-title">Prices Vary<small class="text-muted"></small></h2>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Single Projects</li>
               <li>Web Domain Registration</li>
               <li>Updating an existing site</li>
               <li>Website Hosting</li>
               <li>Consultations</li>
               <li>And More!</li>
             </ul>
          <a href='/services#adhoc' type="button" class="w-100 btn btn-lg btn-outline-primary"">Click Here for Full List</a>
           </div>
         </div>
       </div>
     </div>
 </section>
 </main>

</body>


<!-- Call to Action -->

<section id="call-to-action">
 <div class="container-fluid row">
   <div class=" discuss-text col-lg-4">
     <h1>Are you ready to discuss your business needs?</h1>
   </div>

   <div class="discuss-button col-lg-4">
     <a href='/contact' type="button" class="btn btn-primary btn-lg">Contact Me</a>

   </div>


 <div class="discuss-logo col-lg-4">
   <img src="images/Blueprint Logos border.png" alt="BP Logo" width="150">
 </div>
 </div>
</section>

 <%- include('partials/footer') %>
