<%- include('partials/header') %>
<!-- CSS Stylesheet -->

<div class="blue-page-body">

  <%- include('partials/bluenavbar') %>

  <div class="header-section text-center">

    <div class="contact-image animated fadeInUp">
      <img src="images/Blueprint Logos border.png" alt="BP Logo">
    </div>

    <h1 class="service display-4 fw-normal">Services
      <hr>
    </h1>

  </div>

  <div id="personalandperfessional" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="snip1214">

      <div  class="plan">
        <h3 class="plan-title">Business & Personal Websites</h3>

        <div class="plan-cost"><span class="plan-price">$300</span><small class="text-muted">/Project Cost</small></div>

        <div class="plan-cost"><span class="plan-price">$50</span><small class="text-muted">/Monthly</small></div>
        <div class="plan-features">
          <div class="row">
            <div class="col">Website Design & Development</div>
          </div>
          <div class="row">
            <div class="col">Site Hosting & Domain Registration</div>
          </div>
          <div class="row">
            <div class="col">Employee Email Setup</div>
          </div>
          <div class="row">
            <div class="col">Website Updates & Maintenance</div>
          </div>
          <div class="row">
            <div class="col">Tech Support</div>
          </div>
          <div class="row">
            <div class="col">Daily Backups</div>
          </div>

        </div>

        <div class="plan-select">
          <a href='/contact' type="button" class="btn btn-primary btn-lg">Select Plan</a>
        </div>
      </div>
    </div>
  </div>

  <div id="ecommerce" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="snip1214">

      <div  class="plan">
        <h3 class="plan-title">e-Commerce Websites</h3>

        <div class="plan-cost"><span class="plan-price">$500</span><small class="text-muted">/Project Cost</small></div>

        <div class="plan-cost"><span class="plan-price">$50</span><small class="text-muted">/Monthly</small></div>
        <div class="plan-features">
          <div class="row">
            <div class="col">Website Design & Development</div>
          </div>
          <div class="row">
            <div class="col">Site Hosting & Domain Registration</div>
          </div>
          <div class="row">
            <div class="col">Employee Email Setup</div>
          </div>
          <div class="row">
            <div class="col">Database Setup</div>
          </div>
          <div class="row">
            <div class="col">Engagement Reporting</div>
          </div>
            <div class="row">
              <div class="col">Maintenance & Updates</div>
            </div>
          <div class="row">
            <div class="col">Tech Support</div>
          </div>
          <div class="row">
            <div class="col">Daily Backups</div>
          </div>

        </div>

        <div class="plan-select">
          <a href='/contact' type="button" class="btn btn-primary btn-lg">Select Plan</a>
        </div>
      </div>
    </div>
  </div>

  <div id="adhoc" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="snip1214">

      <div class="plan">
        <h3 class="plan-title">Ad-hoc Services</h3>


        <div class="plan-cost"><span class="plan-price">Prices Vary Per Project</span></div>

        <div class="plan-features">
          <div class="row">
            <div class="col-8">Single Project (no hosting/maintenance)</div>
            <div class="col-4">$150</div>
          </div>
          <div class="row">
            <div class="col-8">Web Domain Registration</div>
            <div class="col-4">$20/month</div>
          </div>
          <div class="row">
            <div class="col-8">Existing Website Hosting</div>
            <div class="col-4">$25/month</div>
          </div>
          <div class="row">
            <div class="col-8">Existing Website Rewrites</div>
            <div class="col-4">$100</div>
          </div>
          <div class="row">
            <div class="col-8">Existing Website Updates</div>
            <div class="col-4">$75</div>
          </div>


        </div>


        <div class="plan-select">
          <a href='/contact' type="button" class="btn btn-primary btn-lg">Select Plan</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
